.container{
    background: transparent;
    color: white;
    margin: 0 auto;
    padding: 10px 10px 10px 10px; 
    height: auto;
    width: 80%;}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    background-color: transparent;
    width: 80%;
    margin: 0 auto;
}

#navigateur{
    position: relative;
    z-index: 2;
}
ul{
    list-style: none;
}
nav ul li{
    display: inline;
    justify-content: space-between;
}
nav ul li a{
    color: #ffffff;
    padding: 0 30px;
    text-decoration: none;
    font-family: 'rajdhani';
    font-size: 24px;
    font-weight: 400;
}
nav ul li a:active{
    color: #ffffff;
    padding: 0 30px;
    text-decoration: underline;
}
.active{
    color: white;
    text-decoration: underline;
    font-weight: bolder;
}

